h1{
    height: 100%;
    width: 100%;
    justify-content: center;
}

ion-slides {
  height: 90%;
}

.flex-result {
	min-width: 90%;
	max-width: 90%;
    max-height: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}