[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.14"
djangorestframework = "*"
ibm-watson = "5.1.0"
ibm-cloud-sdk-core = "*"

[requires]
python_version = "3.7"
