[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ibm_watson = "5.1.0"
ibm_cloud_sdk_core = "3.9.0"

[packages]
django = "==2.2.14"
djangorestframework = "*"

[requires]
python_version = "3.7"
