.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-cont-suc {
    padding: 3rem 0;
}

.avatar-suc {
    background-color: var(--ion-color-secondary);
    border-radius: 50%;
    font-size: 26px;
}