.grid {
    display: grid;
    gap: 5px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-btn {
    display: inline-block;
    white-space: normal;
    min-height: 90%;
    height: auto;
}

.bg-color {
	background: inherit;
}
