.rounded {
	--border-radius: 50%;
	height: 50px;
}

.flex {
	min-width: 90%;
	max-width: 90%;
    max-height: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-int {
	display: flex;
	flex-direction: column;
}

.text-wrap {
	text-overflow: unset;
	white-space: unset;
}

.shrink {
	margin-right: auto;
	margin-left: auto;
    width: 100%;
	display: grid;
	grid-template-rows: 2fr 1fr;
	gap: 20px;
	align-items: center;
}